* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navbar {
  background-color: #0c244a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 100%;
  margin-right: 10px;
}

.navbar .btn {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  margin: 20px 0;
  font-size: 24px;
}

.quote-container {
  padding: 0 20px 20px 20px;
}

.quote-box {
  background-color: #f1f3f5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author {
  text-align: right;
  font-size: 14px;
  color: #555;
}

.generate-button,
.add-quotes-button {
  background-color: #ffc107;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #000;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-quote,
.add-quote {
  display: block;
  text-align: left;
  gap: 10px;
  margin: 10px 0;
}

label {
  font-weight: bold;
  color: #1c1c1e;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
}

/* @media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
} */
